{% extends 'base.html' %} {% block title %}About Page{% endblock %} {% block
content %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1 class="text-center home-h1-heading my-4">About</h1>
      <div class="para-div my-4">
        <h3 class="para-h3">Project Background:</h3>
        <p class="para-p text-center my-2">
          This project, "A Deep Learning and Cloud-Based IoT Integrated System
          For Decoding Speech Imagery EEG Signals," centers on the utilization
          of pre-collected EEG (Electroencephalogram) data, obtained from EEG
          devices to decode four specific imagined words: "up," "down," and
          "left," and "right." This project employs deep learning to enable
          individuals to control computer interfaces with their cognitive
          processes, advancing assistive technology and refining human-computer
          interaction
        </p>
      </div>
      <div class="para-div my-4">
        <h3 class="para-h3">Proposed Solution:</h3>
        <p class="para-p text-center">
            Our product integrates deep learning with cloudbased IoT and EEG signal processing technologies. It
            interprets EEG signals to decode imagery words
            (right, left, up, down) via Brain-Computer Interface
            (BCI) for improved communication.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
