{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-md-8">
          <h1 class="text-center home-h1-heading my-4">
              Thought To Text: 
          </h1>
          <h1 class="text-center home-h2-heading my-2">
            A Deep Learning and Cloud-Based IoT Integrated System For Decoding Speech Imagery EEG Signals
          </h1>
      </div>
  </div>
</div>
{% endblock %}