{% extends 'base.html' %} {% block title %}Team Page{% endblock %} {% block
content %}


<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <h1 class="text-center home-h1-heading my-4">Team Members</h1>
        <div class="para-div my-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Supervisor: Dr. Danish Mahmood</h5>
                    <p>Position: Asst. Professor - Dept of Electronics</p>
                </li>
                <li class="list-group-item">
                    <h5>Co-Supervisor: Dr Komal Masroor</h5>
                    <p>Position: Asst. Professor - Dept of Telecommunications Engineering </p>
                </li>
                <li class="list-group-item">
                    <h5>Industrial Advisor: Bahram Bolach</h5>
                    <p>Position: Director of Technical team Bytecrop</p>
                </li>
                <li class="list-group-item">
                    <h5>Student: Mehak Arshad</h5>
                    <p>Roll No: TC-20009</p>
                </li>
                <li class="list-group-item">
                    <h5>Student: Amna Rafiq</h5>
                    <p>Roll No: TC-20013</p>
                </li>
                <li class="list-group-item">
                    <h5>Student: Syeda Maham Fahim</h5>
                    <p>Roll No: TC-20014</p>
                </li>
                <li class="list-group-item">
                    <h5>Student: Nimra Rahman</h5>
                    <p>Roll No: TC-20037</p>
                </li>
            </ul>
        </div>
       
      </div>
    </div>
  </div>

{% endblock %}
